<div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting" max-height=150px;>

  <a class="post-card__inner" href="{{ person.url | relative_url }}">
    <div class="post-card__header">
      <h3 style="color: #888888;">{{ person.name | strip_html | truncate: 50 }}</h3>
      
      <span class="post-card__meta">
		  {{ person.role }}
      {% if person.status == "alumni" %}
            <br>{{ person.years }}
      {% endif %}
		</span>
    </div>

  </a>
</div>
